/*
-------clearing----------
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
---------variables-------
*/

/*
----------default-------------
*/

html,
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 100%;
  color: #000;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  color: #D4C17F;
  font-weight: 700;
  font-size: 2.25rem;
}

/*
---------Header-----------
*/

.no-webp .header {
  background-image: url("../img/background-1.png"); }

.header {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-top: 30px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__link {
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
  text-decoration: none;
}

.header__content {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  max-width: 556px;
  font-weight: 700;
  text-align: center;
  color: #D4C17F;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 133px;
  margin-bottom: 66px;
}

.header__address {
  font-size: 1.125rem;
  color: #fff;
}

.header__address::before {
  content: url("../img/placeholder.svg");
  padding-right: 14px;
}

.header__phone {
  font-size: 1.125rem;
  color: #fff;
}

.header__phone::before {
  content: url("../img/phone.svg");
  padding-right: 14px;
}

.header__burger {
  display: none;
}

.header__burger {
  margin-top: 15px;
  position: relative;
  z-index: 2;
  width: 30px;
  height: 20px;
  top: 2em;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.header__burger span:before,
.header__burger span:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger span:before {
  top: -10px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__burger span:after {
  bottom: -10px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__burger .active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header__burger .active:after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header__burger span.active {
  background: rgba(255, 255, 255, 0);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #242B33;
}

.cards {
  padding: 128px 0 120px 0;
  background-image: url("../img/II.svg");
  background-repeat: no-repeat;
  max-width: 1380px;
  margin: 0 auto;
}

.cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px 30px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 27px;
  margin-top: 53px;
  text-align: center;
  color: #fff;
}

.apartments {
  background-image: url("../img/III.svg");
  background-repeat: no-repeat;
}

.apartments__title {
  margin-bottom: 100px;
}

.apartments__items {
  gap: 30px;
}

.apartments__item {
  max-width: 535px;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.apartments__subtitle {
  color: #fff;
  font-size: 1.5rem;
  margin: 248px 0 0 50px;
}

.no-webp .watch {
  background-image: url("../img/background-2.jpg"); }

.watch {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.watch__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.watch__title {
  margin-bottom: 50px;
}

.watch__text {
  max-width: 535px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #fff;
}

.watch__form {
  display: grid;
  grid-gap: 30px 35px;
}

.watch__input {
  width: 255px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 0.875rem;
  color: #BEBEBE;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.watch__info-text {
  max-width: 255px;
  font-size: 0.8125rem;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
  white-space: nowrap;
}

.watch__btn {
  width: 255px;
  height: 50px;
  background-color: #D4C17F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.video {
  background-image: url("../img/IV.svg");
  background-repeat: no-repeat;
  background-position: right center;
  text-align: center;
}

.video__img {
  max-width: 719px;
  width: 95%;
}

.area {
  background-image: url("../img/V.svg");
  background-repeat: no-repeat;
}

.area__title {
  margin-bottom: 100px;
}

.area__map iframe {
  max-width: 1100px;
  width: 100%;
  height: 358px;
}

.questions {
  margin-bottom: 168px;
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__text {
  max-width: 255px;
  font-size: 0.8125rem;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
}

.questions__input {
  width: 255px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 0.875rem;
  color: #BEBEBE;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.questions__btn {
  width: 255px;
  height: 50px;
  background-color: #D4C17F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}

.questions__input[placeholder],
.watch__input[placeholder] {
  text-align: center;
}

.questions__input[placeholder],
.watch__input[placeholder] {
  text-align: center;
}

.questions__input:focus,
.watch__input:focus {
  text-align: left;
  color: #fff;
  padding-left: 1em;
}

/*
---------footer-----------
*/

.footer {
  background-color: #2D343C;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 165px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  margin-top: 60px;
}

.footer__menu {
  margin-top: 72px;
}

.footer__menu li {
  list-style-type: none;
}

.footer__menu li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;
  text-decoration: none;
}

.footer__socials {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer__socials img {
  cursor: pointer;
}

@media (min-width: 320px) {
  .header__title {
    font-size: 3rem;
    margin-bottom: 100px;
  }
}

@media (min-width: 425px) {
  .header__mouse {
    margin-bottom: 200px;
  }

  .watch__inner {
    padding-bottom: 180px;
  }

  .watch__title {
    margin-top: 180px;
  }

  .video {
    margin-bottom: 180px;
  }

  .area {
    margin-bottom: 180px;
  }
}

@media (min-width: 555px) {
  .watch__form {
    grid-template-columns: repeat(2, 255px);
  }
}

@media (min-width: 768px) {
  .header__menu {
    margin-top: 55px;
  }

  .header__menu li:not(:first-child) {
    margin-left: 40px;
  }

  .cards {
    background-position: right 6rem;
  }

  .apartments {
    background-position: 13em 5em;
  }

  .watch__form {
    margin-top: 245px;
  }

  .area {
    background-position: 17em 5em;
  }

  .questions__text {
    margin-top: 61px;
    margin-right: 35px;
  }

  .questions__input {
    margin-top: 50px;
    margin-right: 30px;
  }

  .questions__btn {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .apartments__items {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    display: grid;
    justify-items: center;
  }

  .watch__info-text {
    margin-top: 46px;
  }

  .watch__btn {
    margin-top: 35px;
  }
}

@media (max-width: 1200px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .apartments__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .header__menu li {
    margin-bottom: 3em;
  }

  .header__link {
    font-size: 1.25rem;
  }

  .header__burger {
    display: block;
  }

  .hide {
    overflow: hidden;
  }

  .show {
    position: fixed !important;
    height: auto;
    top: 0 !important;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .header__menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    -webkit-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards {
    background-position: center 6rem;
  }

  .apartments {
    background-position: center 5em;
  }

  .watch__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .watch__form {
    margin-top: 100px;
  }

  .area {
    background-position: center 5em;
  }

  .questions__title {
    text-align: center;
    margin-bottom: 50px;
  }

  .questions__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 555px) {
  .watch__text {
    font-size: 0.875rem;
  }

  .watch__form {
    margin-top: 30px;
  }

  .watch__info-text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 550px) {
  .watch__title {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .header__mouse {
    margin-bottom: 100px;
  }

  .apartments__title {
    text-align: center;
  }

  .watch__inner {
    padding-bottom: 95px;
  }

  .watch__title {
    margin-top: 95px;
  }

  .video {
    margin-bottom: 95px;
  }

  .area {
    margin-bottom: 95px;
  }

  .area__title {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .header__title {
    font-size: 1.875rem;
    margin-bottom: 50px;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #BEBEBE;
  }

  .apartments__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .watch__btn:hover,
  .questions__btn:hover {
    background-color: #8f792a;
  }

  .watch__input:hover,
  .questions__input:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .watch__input:hover::-webkit-input-placeholder, .questions__input:hover::-webkit-input-placeholder {
    color: #fff;
  }

  .watch__input:hover::-moz-placeholder, .questions__input:hover::-moz-placeholder {
    color: #fff;
  }

  .watch__input:hover:-ms-input-placeholder, .questions__input:hover:-ms-input-placeholder {
    color: #fff;
  }

  .watch__input:hover::-ms-input-placeholder, .questions__input:hover::-ms-input-placeholder {
    color: #fff;
  }

  .watch__input:hover::placeholder,
  .questions__input:hover::placeholder {
    color: #fff;
  }

  .footer__link:hover {
    color: #BEBEBE;
  }
}

.webp .header { background-image: url(../img/background-1.webp); }

.webp .watch { background-image: url(../img/background-2.webp); }